.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px; 
  height: 30px; 
  margin-right: 10px;
}

.separator {
  font-size: 16px;
  margin: 0 5px;
}